In [103]:
import math
old_prices_in_rs = {"biryani" : 150, "Tikka" : 100, "Karahi" : 800}

In [104]:
old_prices_in_rs

{'biryani': 150, 'Tikka': 100, 'Karahi': 800}

In [105]:
new_prices_in_dollar = {item:math.ceil(price/160) for item, price in old_prices_in_rs.items()}

In [106]:
new_prices_in_dollar

{'biryani': 1, 'Tikka': 1, 'Karahi': 5}

In [107]:
update_price = {item:price+1 if (price <= 1) else price for item,price in new_prices_in_dollar.items()}

In [108]:
update_price

{'biryani': 2, 'Tikka': 2, 'Karahi': 5}

In [109]:
river = {'nile' : 'egypt' , 'indus' : 'Pakistan', 'Ganda' : 'India'}

In [110]:
river

{'nile': 'egypt', 'indus': 'Pakistan', 'Ganda': 'India'}

In [111]:
for items,keys in river.items():
    print("The "+items+" flow in "+keys+".")

The nile flow in egypt.
The indus flow in Pakistan.
The Ganda flow in India.

In [112]:
sentence = {print("The "+items+" flow in "+keys+".") for items, keys in river.items()}

The nile flow in egypt.
The indus flow in Pakistan.
The Ganda flow in India.

In [113]:
for items,keys in river.items():
    print(keys)

egypt
Pakistan
India

# List of List

In [114]:
listoflist =[[11,22,33,44],[55,66,77,88],[1,2,34],['a','b','c']]

In [115]:
listoflist[1:3]

[[55, 66, 77, 88], [1, 2, 34]]

In [116]:
listoflist[-1][-1]

'c'

In [117]:
print(update_price)
print(river)
print(old_prices_in_rs)

{'biryani': 2, 'Tikka': 2, 'Karahi': 5}
{'nile': 'egypt', 'indus': 'Pakistan', 'Ganda': 'India'}
{'biryani': 150, 'Tikka': 100, 'Karahi': 800}

# listofdictionary

In [118]:
listofDic = [update_price, river, old_prices_in_rs]

In [119]:
listofDic[0]['Tikka']

2

# dictofdict

In [126]:
dicofdic = {'saylani' : 
                {'smit' : ['web','ds','ai','ccna','ai'],
                'health' : ['opd','ocd','mri']
                },
            'University':
                {'CS': ['1st','2nd','3rd','4th'],
                'admin':['fee','ssc','query']}
            }

In [130]:
'smit' in dicofdic ['saylani']

True

In [134]:
dicofdic['University']['admin'][2]

'query'

In [157]:
for pk,pv in dicofdic.items():
    if pk == "University":
        for uk , uv in dicofdic[pk].items():
            if uk == 'admin':
                print('fee' in uv)

True

In [164]:
for v in dicofdic['University']['admin']:
    if v == "fee":
        print('fee'in v)

True

In [ ]:
|